/*General structure*/
html {
	color: #F6ECF9;
	box-sizing: border-box;
	position: static;
}

*{
	margin:0;
	padding:0;
}

*,*:before, *:after {
	box-sizing: inherit;
}


body {
	margin: 0;
	font-family:  Manrope;
}

/*End General Structure*/

/*main divs*/
#page {
	min-height:100%;
	width:100%;
	background:  #141414;
}	
#page > div{
	display:block;
}
.navi {
	text-align: center;
	background-color: black;
	padding: 0;
	top:0;
	width: 100%;
	left:0;
	right:0;
	vertical-align:bottom;
	display: inline-block;
}

.navi a:hover{
	color: #FF0047;
	transition: .2s;
}

.navi a{
	color: #F6ECF9;
	font-size: 16px;
	text-decoration:none;
	bottom: 0;
	display: inline-block;
}


.main{	

	
}
.center-display{
	margin: auto;
	position:relative;
	text-align:center;
	background-size: 100%;
	background-repeat:no-repeat;
}
.center-display-text{
	font: helvetica;
	height: 50%;
}

.center-display h3{
	text-align:left;
	border-bottom:3px solid #FF0047;
}

.banner{
	font-family: Manrope;
	font-size: 80px;
	padding: 50px 0  50px 0;
}

.contact{
	text-align: center;
	padding: 120px;
	font-size: 52px;
	text-align: center;
	margin: auto;
}

.contact i{
	color: #F6ECF9;
	margin: auto;
	padding: auto;
	text-align:center;
	width: 47%;
}

.contact i:hover{
	color: #FF0047;
	transition: .2s;
}
.footer{
	background-color: black;
	color:#F6ECF9;
	text-align:center;
	text-decoration:none;
	font-size:14px;
	padding: 5px 0;
}

/*End Main divs*/

/*sub containers and text*/

.main h2{
	padding:10px;
	margin:0;
	font-family: 'Pricedown Bl';
	font-size: 32px;
}
h2{
	font-weight:700;
}

h3{
	text-align:right;
	font-style: italic;
}

.navi-menu-dropdown{
	padding-right:10px;
}

.navi-menu-dropdown div{
	width: 25px;
	height: 4px;
	background-color: #FF0047;
	margin: 5px 0;
}

.logo {
	width: 25%;
	left: 0;
	position: relative;
}

.logo div {
	display: inline;
	font-family: 'Pricedown Bl';	
	padding: none;
	font-size: 32px;
}


#links{
	right: 0;
	width:75%;
	bottom:0;
	text-align:center;
	height:inherit;
	position: relative;
	display: inline-block;
}

#links a{
	margin:auto;
	padding-top: 10px;
	width:32%;
	height:100%;
}

#links a:hover{
	color: #FF0047;
	transition: .2s;
}

#links a:active{

}

.ham-button {
 	background-color: #FF0047;
}

.sub-box-container{
	padding: 0 0%;	
}
.sub-box-row{
	margin: auto;
	display: block;
	text-align:center;
	overflow:hidden;
	align-items:center;
	color: black;
}

.sub-box-dropdown {
	height: 0;
}

.sub-box-content{
	margin: auto;
}

.sub-box-dropdown ~ .sub-box-text :hover{
	animation: text-drop;
}

.sub-box-header{
	padding-top:10px;
	text-align:left;
	margin: auto;
	color:#F6ECF9;
}
.sub-box-text{
	background-color:#F6ECF9;
	padding: 20px;
	text-align:left;
	color: black;
	height: 256px;
}

.sub-box-third{
	display:block;
	background-color:#3e3e3e;
	margin:auto;
	margin-top:5%;
	margin-bottom:5%;
	max-width: 500px;
}

.download-button{
	background-color: inherit;
  	color: #FF0047;
  	padding: 10px 28px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
	border: solid 1px #FF0047;
	border-radius: 3px;
}

.download-button:hover{
	background-color: #FF0047;
	color: #F6ECF9;
	transition: .2s;

}

.about{
}

.about *{
	color:black;
	background-color:#F6ECF9;
	padding: 5px 5% 5px 5%;
}
.about h2{
	text-decoration: underline;

}
.about p{
	padding: 5px 5% 5% 5%;
}

.big{
	font-size: 80px;
	margin-bottom:320px;
}

/*end sub containers and text*/


/*Media Queries*/

/*desktop*/
@media screen and (min-width: 760px){
	#navi-menu-dropdown{
		display:none;
	}
	
	#page > div{
		width:100%;
		margin:auto;
	}
	.navi{
		padding-top: 10px;
	}
	.sub-box-third{
		display: block;
		width: 75%;
	}	
}


/*phone Screen*/
@media screen and (max-width: 760px){
	
	*{
		margin:0;
		padding:0;
	}
	#page{
		margin:0;
		bottom:0;
	}
	#page > div{
		padding:0;
		margin:0;
	}
	
	.navi{
		padding:0;
	}
	.navi #links{
		display: none;
	}
	
	.navi-menu-dropdown {
		display: block;
		float:right;
	}
	
	#links a{
		width:100%;
	}
	
	#header{
		margin-top:50px;
	}
	
	.navi.responsive {
		position: relative;
		margin:0;
	}
	
	.navi.responsive #links{
		display: block;
		left:0;
		right:0;
		width: 100%;
	}
	
	.navi-logo img{
		display: inline;
		vertical-align:center;
		max-height:25px;
		min-height: 20px;
	}
	
	.sub-box-row{
		width:100%;
		margin:0;
		padding-top: 10px;
		display:block;
	}
	
	.sub-box-third{
		width:100%;
		max-width:100%;
		margin:0;
		border: 0;
		padding-top: 10px;
	}
	.center-display{
		margin-top:50px;
		padding:0;
	}
	.about{
		padding: 0 5px;
	}
}

/*end phone screen*/


/* colors 

red = rgb(255,0,71);
neon purple =#D600FF

 End colors*/
/*animation*/

@keyframes slideshow-in {
	from {left:-100%;}
	to {left:0;}
}

@keyframes slideshow-out {
	from {left:0;}
	to {left:100%;}
}

/*End media queries*/

/* Fonts*/
@font-face {
    font-family: 'Pricedown Bl';
    src: url('PricedownBl-Regular.woff2') format('woff2'),
        url('PricedownBl-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Manrope';
    src: url('Manrope-SemiBold.woff2') format('woff2'),
        url('Manrope-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
/*End fonts*/